* {
  box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333;
}
.section {
	padding: 30px 10%;
}
.header {
	margin-top: 90px;
	text-align: center;
	font-size: 24px;
}
.header span {
	display: block;
	font-weight: 100;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.main {
	text-align: center;
	margin-top: 80px;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form {
	margin-left: 30px;
	border: 5px solid #2727d9;
	padding: 20px;
}
.form-header {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form input {
	display: block;
	margin-top: 11px;
	width: 300px;
	padding: 17px;
	border: 1px solid #333;
	font-size: 18px;
}
.btn {
	display: block;
	margin: 11px auto;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	margin-top: 11px;
}
.col {
	display: inline-block;
	text-align: center;
	margin: 10px 50px;
}
.feature-header, .clients-header {
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
	font-weight: 900;
	font-size: 24px;
}
.feature {
	text-align: center;
	margin: 60px auto;
}
.face {
	display: inline-block;
	text-align: center;
	margin: 15px 10px;
}
.clients {
	text-align: center;
	margin-top: 70px;
}
